<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../jquery/jquery-3.4.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>

    <h1 style="margin-top: 100px" class="text-center">用户登录</h1>
    <div class="container">
        <div class="col-md-6 col-lg-offset-3 ma" >
            <form>
                <div class="form-group">
                    <label for="name">用户名</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="请输入密码">
                </div>
                <div class="container">
                    <div class="col-md-2 col-lg-offset-1" >
                        <button type="submit" class="btn btn-danger">登录</button>
                    </div>
                    <div class=" col-md-2">
                        <button type="submit" class="btn btn-primary">注册</button>
                    </div>
                </div>


            </form>
        </div>
    </div>


</body>
</html>